<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CCC.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PleieplanEntitiesv2" connectionString="metadata=res://*/CarePlanDB.csdl|res://*/CarePlanDB.ssdl|res://*/CarePlanDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Careplan.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True'"
      providerName="System.Data.EntityClient" />
    <add name="CareplanTemplateEntities" connectionString="metadata=res://*/CareplanTemplateDB.csdl|res://*/CareplanTemplateDB.ssdl|res://*/CareplanTemplateDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFileName=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Careplan.mdf&quot;;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True'"
      providerName="System.Data.EntityClient" />
    <add name="CCCFrameworkEntities" connectionString="metadata=res://*/CCCFramework.csdl|res://*/CCCFramework.ssdl|res://*/CCCFramework.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\CCC Framework.mdf&quot;;Initial Catalog=CCCFramework;Integrated Security=True;MultipleActiveResultSets=True'"
      providerName="System.Data.EntityClient" />
    <add name="CCC.UI.Properties.Settings.CCCConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CCC;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="CCC.UI.Properties.Settings.PleieplanConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Pleieplan.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <userSettings>
    <CCC.UI.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>2.0</value>
      </setting>
      <setting name="LanguageName" serializeAs="String">
        <value>nb-NO</value>
      </setting>
    </CCC.UI.Properties.Settings>
  </userSettings>
</configuration>