<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PleieplanEntitiesv2" connectionString="metadata=res://*/CarePlanDB.csdl|res://*/CarePlanDB.ssdl|res://*/CarePlanDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Careplan.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="CareplanTemplateEntities" connectionString="metadata=res://*/CareplanTemplateDB.csdl|res://*/CareplanTemplateDB.ssdl|res://*/CareplanTemplateDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFileName=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Careplan.mdf&quot;;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="CCCFrameworkEntities" connectionString="metadata=res://*/CCCFramework.csdl|res://*/CCCFramework.ssdl|res://*/CCCFramework.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\CCC Framework.mdf&quot;;Initial Catalog=CCCFramework;Integrated Security=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />

  </connectionStrings>

</configuration>