<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PleieplanEntitiesv2" connectionString="metadata=res://*/CarePlanDB.csdl|res://*/CarePlanDB.ssdl|res://*/CarePlanDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Pleieplan.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
    <add name="CCCFrameworkEntities" connectionString="metadata=res://*/CCC.csdl|res://*/CCC.ssdl|res://*/CCC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HENNING_LAPTOP\SQLEXPRESS;Initial Catalog=CCC;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>