<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
  <connectionStrings>
    
    <!-- Reference terminology for the Clinical Care Classification 2.0 -->
    <!--<add name="ReferenceFrameworkEntities"  connectionString="metadata=res://*/EF Models.CCCReferenceCompact.csdl|res://*/EF Models.CCCReferenceCompact.ssdl|res://*/EF Models.CCCReferenceCompact.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\eNursePHR\eNursePHR\Business Layer\Databases\CCC Terminology Reference.sdf;Max database size=16&quot;"
      providerName="System.Data.EntityClient" />-->
    
    <!-- Multilanguage working terminology for CCC 2.0-->
    <!--<add name="CCCFrameworkCompactEntities" connectionString="metadata=res://*/EF Models.CCCFrameworkCompact.csdl|res://*/EF Models.CCCFrameworkCompact.ssdl|res://*/EF Models.CCCFrameworkCompact.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\eNursePHR\eNursePHR\Business Layer\Databases\CCC Framework.sdf;Max database size=16&quot;"
      providerName="System.Data.EntityClient" />-->
    
    <!--<add name="CarePlanEntities" connectionString="metadata=res://*/EF Models.CarePlanDB.csdl|res://*/EF Models.CarePlanDB.ssdl|res://*/EF Models.CarePlanDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=HENNING_LAPTOP\SQLEXPRESS;AttachDbFilename=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Careplan.mdf&quot;;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True'"
      providerName="System.Data.EntityClient" />-->
    
    <!-- Personal Health Record-->

    <!-- Ref. Steve Lasker MSDN about 3.5 sql server compact, default database max size is 128 MB, set to 4GB for health record -->
    <!-- Also set flush interval to 1 for immediate write/default 10 sec. for battery conservation-->
    
    <!--<add name="CarePlanEntities"  connectionString="metadata=res://*/EF models.CarePlanDB.csdl|res://*/EF models.CarePlanDB.ssdl|res://*/EF models.CarePlanDB.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\eNursePHR\eNursePHR\Business Layer\Databases\CarePlan.sdf;Password=eNurseCP2008!;Max database size=4000;Flush interval=1&quot;" providerName="System.Data.EntityClient" />-->


    <!--<add name="CareplanTemplateEntities"  connectionString="metadata=res://*/EF Models.CareplanTemplateDB.csdl|res://*/EF Models.CareplanTemplateDB.ssdl|res://*/EF Models.CareplanTemplateDB.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;AttachDbFileName=&quot;C:\Programfiler\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Careplan.mdf&quot;;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True'"
      providerName="System.Data.EntityClient" />-->

    <!-- Measurements (blood pressure, temperature,...)-->
    <!--<add name="MeasurementsEntities" connectionString="metadata=res://*/EF models.MeasurementsDB.csdl|res://*/EF models.MeasurementsDB.ssdl|res://*/EF models.MeasurementsDB.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\eNursePHR\eNursePHR\Business Layer\Databases\Measurements.sdf&quot;" providerName="System.Data.EntityClient" />-->


    <add name="PHREntities" connectionString="metadata=&quot;res://*/EF models.PHR.csdl|res://*/EF models.PHR.ssdl|res://*/EF models.PHR.msl&quot;;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Databases\PHR.sdf;Password=eNurseCP2008!;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CCCFrameworkCompactEntities" connectionString="metadata=&quot;res://*/EF models.ClinicalCareClassificationV2.csdl|res://*/EF models.ClinicalCareClassificationV2.ssdl|res://*/EF models.ClinicalCareClassificationV2.msl&quot;;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Databases\CCC Framework.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="ReferenceFrameworkEntities" connectionString="metadata=&quot;res://*/EF models.CCCReference.csdl|res://*/EF models.CCCReference.ssdl|res://*/EF models.CCCReference.msl&quot;;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Databases\CCC Terminology Reference.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="MeasurementsEntities" connectionString="metadata=&quot;res://*/EF models.Measurements.csdl|res://*/EF models.Measurements.ssdl|res://*/EF models.Measurements.msl&quot;;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Databases\Measurements.sdf&quot;" providerName="System.Data.EntityClient" />



  </connectionStrings>

  
</configuration>