<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MeasurementsEntities" connectionString="metadata=&quot;res://*/EF models.MeasurementsDB.csdl|res://*/EF models.MeasurementsDB.ssdl|res://*/EF models.MeasurementsDB.msl&quot;;provider=Microsoft.SqlServerCe.Client.3.5;provider connection string=&quot;Data Source=C:\eNurseCP2008\eNurseCP2008\CCCBusinessLayer\Databases\Measurements.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>